<%- include('header', {title: "dashboard"}); %>
  
    
<main class="form-signin w-100 m-auto">
  <form action="/signin" method="post">
    <img class="mb-4" src="../assets/brand/bootstrap-logo.svg" alt="" width="72" height="57">
    <h1 class="h3 mb-3 fw-normal">Please sign in</h1>

    <div class="form-floating">
      <input required  type="text" class="form-control" id="floatingInput" placeholder="username" name="username">
      <label for="floatingInput">username</label>
    </div>
    <div class="form-floating">
      <input required  type="password" class="form-control" id="floatingPassword" placeholder="Password" name="password">
      <label for="floatingPassword">Password</label>
    </div>

    
    <button class="w-100 btn btn-lg btn-primary" type="submit">Sign in</button>
    <p class="mt-5 mb-3 text-muted">&copy; 2017–2022</p>
  </form>
</main>


    
  </body>
  <%- include("footer") -%>
