<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
<link rel="stylesheet" href="lucky.css">
    <link
      href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css"
      rel="stylesheet"
    />
  </head>
  <body>
    <div id="wrapper">
            
        <div id="wheel">
        <div id="inner-wheel">
          <div class="sec">
            <span class="fa">James</span>
            <span class="fa2">Germain</span>
          </div>
          <div class="sec">
            <span class="fa">Maddy</span>
            <span class="fa2">Kino</span>
          </div>
  
          <div class="sec">
            <span class="fa">Microservice</span>
            <span class="fa2">Jo</span>
          </div>
          <div class="sec">
            <span class="fa">Daryl</span>
            <span class="fa2">Regi</span>
          </div>
          <div class="sec">
            <span class="fa">Julito</span>
            <span class="fa2">Raf</span>
          </div>
          <div class="sec">
            <span class="fa">Ronald</span>
            <span class="fa2">Minpin</span>
          </div>
        </div>  
        <div id="spin">
                <div id="inner-spin"></div>
            </div>    
          <div id="shine"></div>
        </div>
        
        
        <div id="txt"></div>
  </div>

  <script src="lucky.js"></script>
  </body>
</html>
